<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jaballogian.sgmsatu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LogInActivity" />
        <activity android:name=".BelumBayarActivity" />
        <activity android:name=".PengemasanActivity" />
        <activity android:name=".PengirimanActivity" />
        <activity android:name=".PenilaiankuActivity" />
        <activity android:name=".TerakhirDilihatActivity" />
        <activity android:name=".FavoritkuActivity" />
        <activity android:name=".PostingankuActivity" />
        <activity android:name=".RiwayatPembelianActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".ChatingActivity" />

        <meta-data
            android:name="AA_DB_NAME"
            android:value="sgm.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="9" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.example.jaballogian.sgmsatu.model.Product" />

        <activity android:name=".CheckoutActivity" />
        <activity android:name=".PembayaranActivity"></activity>
        <activity android:name=".DataProfilkuActivity"></activity>
    </application>

</manifest>